
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(image/yılbaşı7.jpeg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  margin: 0 auto;
  max-width: 560px;
  margin-top: 350px;
 left: 50%;
 right: 50%;


}
#clearButton{
    background-color: #D7B854;
    color: #003C3A;
}
#clearButton:hover{
    background-color: transparent;
    cursor: pointer;
    border: 1px solid;
    border: none;
 
}
.card-title{
    color: #D7B854;
    display: grid;
    place-items: center;
}
.card-body{
    background-color: #B8132F;
}
#todoAddButton{
   background-color: #D7B854;
}

#delete-item{
    color: #D7B854;
}